-- Example 0
AAA

3
-- Example 1
ABCDEF

0
-- Example 2
BBAA

7
-- Example 3
ABCBA

4
-- Example 4
TOPPAPPOT

240
-- Example 5
AYUEOPPOLAKIKIKIUYOPZOOLPPPPKMOPOLIURKMQOAPLFKTURIWOOWWWPLOLWWWOPSLAA

216072426
-- Example 6
Z

0
