-- Example 0
ELLY
KRIS

29
-- Example 1
TOPCODER
TCOINDIA

57
-- Example 2
HARDEST
THREADS

0
-- Example 3
AAAAAAAAAA
ZZZZZZZZZZ

250
-- Example 4
AWIODJGWAMBAUWNMQEROAIQWYRZSVEPTT
BNSIAELDALCGAWOPIWEQTYCNAZEKJXVYU

105
