-- Example 0
TOPCODERROCKS

35
-- Example 1
ABCDEFGHIJKLMNOPQRSTUVWXYZ

28
-- Example 2
AWOIDUIWAHCSZNGAIOWIAWEWIUYTIUEAXKLMFCAWMAWVAWUBVA

374
-- Example 3
ROVERWANDERERNOMADVAGABOND

108
-- Example 4
WITHOUTITIMJUSTESPR

65
