-- Example 0
3
3
3
bbb
eee
www

1
-- Example 1
3
3
3
bwe
wbw
ewb

2
-- Example 2
4
4
4
beww
beww
beww
wewe

1
-- Example 3
2
8
2
ewewbbbb
bwebewww

3
-- Example 4
5
5
5
bwebw
wbebb
eeeee
bbebb
bbebb

3
-- Example 5
6
7
6
bwbbbbb
bwbwwwb
bwbwewb
bwbbbwb
bwwwwwb
bbbbbbb

1
-- Example 6
6
7
6
bwbbbbb
bwbwwwb
eeeeeee
bwbbbwb
bwwwwwb
bbbbbbb

3
