-- Example 0
3
#...
....
....

12
-- Example 1
1
.#.

1
-- Example 2
2
#.
##

4
-- Example 3
3
.##
..#
...

72
-- Example 4
10
.##########.
............
............
............
............
............
............
............
............
............

999999937
-- Example 5
1
.

1
