-- Example 0
(()
())

19
-- Example 1
)
(

1
-- Example 2
(((((
)))))

42
-- Example 3
()(()
))((())

10
-- Example 4
()()()()()()()()()()()()()()()()()()()()
()()()()()()()()()()()()()()()()()

487340184
-- Example 5
(())())))
(())()

0
